.countdownContainer {
    display: flex;
    flex-direction: column;
}

.countdownNumber {
    font-size: 64px;
    height: 48px;
}

.countdownLabel {
    font-size: 12px;
    text-transform: uppercase;
}