.countdownWidget {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    background: #f2f2f2;
    border-radius: 8px;
    margin: 16px;
    width: 450px;
}

.countdownRow {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.countdownColon {
    font-size: 64px;
}

.countdownDate {
    font-size: 24px;
    padding-bottom: 8px;
}