.ruleItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;

    ol {
        list-style-type: circle; /* TODO: add separate classes */
    }
}

.ruleItemIconWrapper {
    position: relative;
}

.ruleItemTooltip {
    position: absolute;
    background: #222;
    color: #fff;
    transform: translateX(-475px) translateY(4px);
    width: 500px;
    border-radius: 8px;
    padding: 8px;
}