.header {
    display: flex;
    gap: 24px;
    height: 28px;
    padding: 1rem;
    background: #0B2C3E;
    align-items: center;
    width: auto;
}

.headerCenter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(28px);

    svg {
        position: relative; /* or absolute if you want full control */
        z-index: 1;
    }

    a {
        position: absolute;
        padding-bottom: 20px;
        z-index: 2;
    }
}

.headerLeft,
.headerRight {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 214px;
}
.headerRight {
    justify-content: flex-end;
}

.headerLogo {
    height: 50px;
    width: auto;
}

.nav {
    display: flex;
    gap: 1rem;
}

.navLink {
    text-decoration: none;
    padding: 8px;
    width: 80px;
    display: inline-block;
    text-align: center;
    transition: all 0.2s ease;
    font-family: 'BigNoodle', sans-serif;
    color: white;
    font-size: 24px;
}

.activeNavLink {
    color: #0B2C3E;
    font-weight: bold;
    background: rgb(255 255 255 / 60%);
    transform: skew(-18deg);
    -webkit-backface-visibility: hidden;
}

.navLink:hover {
    background: rgb(255 255 255 / 30%);
    transform: skew(-18deg);
}